/* Coolors Exported Palette - coolors.co/310047-9d4d3c-adbfcb-982720-500159 */

/* HSL */
$color1: hsla(281%, 100%, 14%, 1);
$color2: hsla(11%, 45%, 43%, 1);
$color3: hsla(204%, 22%, 74%, 1);
$color4: hsla(4%, 65%, 36%, 1);
$color5: hsla(294%, 98%, 18%, 1);

/* RGB */
$color1: rgba(49, 0, 71, 1);
$color2: rgba(157, 77, 60, 1);
$color3: rgba(173, 191, 203, 1);
$color4: rgba(152, 39, 32, 1);
$color5: rgba(80, 1, 89, 1);